@import "../../../styles/constants.scss";
@import "../../../styles/global.scss";

.nav {
    color: red;
    &__container {
        background-color: green;

        &__logo {
            background-color: yellow;
        }
    }
}
