@import "../../../styles/variables.scss";

.wrapperHome {
    background-color: white;
    min-height: 100vh;
    margin-top: $nav-height-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Image {
        background-color: #eee;
    }
    &Titles {
        background-color: #eee;
        margin: 10px auto;
    }
}
