@import "../../../styles/variables.scss";

.wrapperHome {
    padding-top: $nav-height-mobile;
    display: flex;
    flex-direction: column;

    &Image {
        margin: 20px auto;
    }
    &Titles {
        margin: 20px;
    }
}
