@import "../../../styles/variables.scss";

.menuLiItem {
    width: 90%;

    margin: 0 auto 10px;
    background-color: $backgoundColorLight;
    border-radius: 25px;

    a {
        padding: 20px 0;
        color: $primaryColor;
    }

    &Active {
        background-color: $activeColor;
        a {
            color: $white;
        }
    }
}
