@import "../../../styles/variables.scss";

.menuLiItem {
    width: 90%;

    margin: 0 auto 10px;
    background-color: $navBackgoundColorLight;
    border-radius: 25px;
    // box-shadow: $mediumBoxShadow;

    a {
        padding: 20px 0;
        color: $white;
    }

    &Active {
        background-color: $activeColor;
    }
}
