@use "sass:map";
@import "../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
    .menuLiItem {
        width: 90%;

        margin: 0 auto;
        background-color: rgba($black, 0.3);
        border-radius: 0px;
        box-shadow: $mediumBoxShadow;
        margin: 5px;

        a {
            padding: 5px 0;
        }

        // &Active {
        //     background-color: red;
        // }
    }
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
