@import "../../../styles/variables.scss";

.wrapperHobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
    &Titles {
        margin-bottom: 20px;
    }

    &Carousel {
        margin-bottom: 20px;
    }
}
