@import "../../../styles/variables.scss";

.wrapperHobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    &Titles {
        margin-bottom: 20px;
    }

    // &Carousel {
    // }
}
