@import "./variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background: $white;
    font-family: $font_family;

    overflow: hidden;
    overflow-y: scroll;
}

a {
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    font-family: $paragraph_font;
    font-size: $sizeFour;
    line-height: $siezeLineFour;
    font-weight: $bold;
    color: $main_green;
    &:checked,
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        color: inherit;
    }
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

ul,
ol {
    list-style: none;
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-family: $header_font;
    font-size: $sizeOne;
    font-weight: $bold;
    line-height: $siezeLineOne;
    color: $main_green;
}
h2 {
    font-family: $header_font;
    font-size: $sizeTwo;
    font-weight: $bold;
    line-height: $siezeLineTwo;
    color: $main_green;
}
h3 {
    font-family: $header_font;
    font-size: $sizeThree;
    font-weight: $bold;
    line-height: $siezeLineThree;
    color: $main_green;
}
h4 {
    font-family: $paragraph_font;
    font-size: $sizeFour;
    font-weight: $thick;
    line-height: $siezeLineFour;
    color: $main_green;
}
h5 {
    font-family: $paragraph_font;
    font-size: $sizeFive;
    font-weight: $thick;
    line-height: $siezeLineFive;
    color: $main_green;
}
h6 {
    font-family: $paragraph_font;
    font-size: $sizeSix;
    font-weight: $thick;
    line-height: $siezeLineSix;
    color: $main_green;
}

p {
    font-family: $paragraph_font;
    font-size: $sizeFour;
    font-weight: $thick;
    line-height: $siezeLineFour;
    color: $main_green;
}

img {
    max-width: 100%;
    width: auto;
}
