@import "./constants.scss";

@mixin fixed {
    position: fixed;
    top: 0;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
}
