@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
    @include fixed;
    @include flexBetween;

    height: $nav-height-mobile;
    width: 100%;

    border-bottom: $taupe solid 1px;
    background-color: $light_gray;

    &Logo {
        font-size: 0;
        line-height: 0;
        a {
            line-height: 0;
            font-size: 0;
            img {
                height: $nav-height-mobile;
                padding: 10px;
            }
        }
    }

    &Hamburger {
        @include flexCenter;
        height: $nav-height-mobile;
        width: $nav-height-mobile;
        cursor: pointer;
        transition: $transition-default;
        position: relative;

        &Icon {
            width: calc($nav-height-mobile * 0.6);
            height: calc($nav-height-mobile * 0.1);
            background-color: $main_green;
            border-radius: 5px;
            transition: $transition-default;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: calc($nav-height-mobile * 0.6);
                height: calc($nav-height-mobile * 0.1);
                background-color: $main_green;
                border-radius: 5px;
                transition: $transition-default;
            }

            &::before {
                transform: translateY(calc($nav-height-mobile * 0.2));
            }
            &::after {
                transform: translateY(calc($nav-height-mobile * -0.2));
            }
            &Open {
                @extend .navHamburgerIcon;
                transform: translateX(calc($nav-height-mobile * -0.6));
                background-color: transparent;

                &::before {
                    transform: rotate(45deg) translate(calc($nav-height-mobile * 0.5), calc($nav-height-mobile * -0.5));
                }
                &::after {
                    transform: rotate(-45deg) translate(calc($nav-height-mobile * 0.5), calc($nav-height-mobile * 0.5));
                }
            }
        }
    }
}
