@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
    @include fixed;
    @include flexBetween;

    height: $nav-height-mobile;
    width: 100%;

    border-bottom: $taupe solid 1px;
    background-color: $light_gray;
}
