@import "../../../../../styles/variables";

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
    max-width: 335px;

    &SecondaryTitle {
        max-width: 181px;
        margin-bottom: 5px;
    }

    &PrimaryTitle {
        max-width: 181px;
        margin-bottom: 20px;
    }

    &Description {
        max-width: 280px;
    }
}
