@import "../../../../../styles/variables";

.secondaryTitle {
  margin: 0 auto;
  font-family: $font_family;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  // color: $primary-brown;

  text-transform: uppercase;
  text-align: center;
}
