@import "../../../styles/variables.scss";

.wrapperContact {
  background-color: $primaryBackgroundColor;
  &Background {
    padding: 50px 0;
  }

  &Content {
    // position: relative;
    // top: 30px;
    margin: 0 auto;
  }
}
