@import "../../../../../styles/variables";

.description {
    margin: 0 auto;
    // font-family: $primary-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    // color: $grayscale-black;

    &Email {
        // font-family: $primary-font-bold;
    }
}
