@import "../../../../../styles/variables";

.description {
  margin: 0 auto;
  font-family: $font_family;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;

  &Email {
    font-family: $font_family;
  }
}
