@use "sass:map";
@import "../../../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
    .wrapperTechnologies {
        &Carousel {
            min-height: 240px;
            min-width: 240px;
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}
@media only screen and (min-width: map.get($breakpoints, "large-max")) {
    .wrapper {
        &Container {
            min-height: 320px;
            min-width: 320px;
        }
    }
}
