@import "../../../styles/variables.scss";

.wrapperNav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    height: $nav-height-mobile;
    width: 100%;

    border-bottom: $activeColor solid 2px;
    background-color: $primaryBackgroundColor;

    z-index: 100;
}
