@import "../../../styles/variables.scss";

.menu {
    position: fixed;
    top: $nav-height-mobile;

    width: 100vw;
    height: calc(100vh - $nav-height-mobile);

    transition: $transition-default;
    transform: translateX(100%);

    &List {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        background-color: rgba($light_gray, $halfOpacity);
    }

    &Active {
        transform: translateX(0);
    }
}
