@use "sass:map";
@import "../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
    .wrapperMenu {
        position: static;

        width: auto;
        height: auto;
        transform: translateX(0);

        &List {
            flex-direction: row;
            // height: 10px;
            background-color: rgba($light_gray, $halfOpacity);
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
