@use "sass:map";
@import "../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
    .wrapperMenu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        margin-right: 5vw;

        &List {
            flex-direction: row;
            background-color: transparent;
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
