@import "../../../styles/variables.scss";

.wrapperTechnologies {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;

    &Titles {
        position: absolute;
        margin: 20px auto;
    }

    &Carousel {
        position: absolute;
        margin: 20px auto;
    }
}
