@use "sass:map";
@import "../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
    .wrapperTechnologies {
        height: 250px;
        max-width: 750px;
    }
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
    .wrapperTechnologies {
        height: 280px;
        max-width: 900px;
    }
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
    .wrapperTechnologies {
        height: 310px;
        max-width: 1150px;
    }
}
