@import "../../../../../styles/variables.scss";

.wrapperTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

    &Title {
        margin: 0px auto 20px;
    }

    &Subtitle {
        margin: 0 auto;
    }
}
