@import "../../../../../styles/variables.scss";

.wrapperTitles {
    display: flex;
    flex-direction: column;

    &Title {
    }
    &Author {
        margin: 20px 0;
    }
    &Description {
        // margin-left: 5vw;
    }
}
