@import "../../../../../styles/variables.scss";

.wrapperTitles {
    display: flex;
    flex-direction: column;

    &Title {
        margin-left: 5vw;
    }
    &Author {
        margin: 20px 5vw;
    }
    &Description {
        margin-left: 5vw;
    }
}
