@import "../../../../../styles/variables.scss";

.wrapperCard {
    display: flex;
    flex-direction: column;

    height: 100%;
    align-items: center;
    max-width: 80vw;
    &Image {
        width: 80vw;
        height: 64vw;
        min-height: 64vw;
        border-radius: 20px 20px 0 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &Information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 20px 20px;
        min-height: 340px;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        &Title {
            margin: 20px auto 0;
            height: 100%;
            max-width: 65vw;
            background-color: red;
        }
        &Footer {
            background-color: yellowgreen;
            margin: 20px auto;
            max-width: 65vw;
        }
    }
}
