@use "sass:map";
@import "../../../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
    .wrapperCard {
        max-width: 538px;
        &Image {
            width: 538px;
            height: 430px;
            min-height: 430px;
        }
        &Information {
            min-height: 340px;

            &Title {
                max-width: 437px;
            }
            &Footer {
                max-width: 437px;
            }
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
