@use "sass:map";
@import "../../../../../styles/variables.scss";
@import "./base.module.scss";

@media only screen and (max-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
    .wrapperCard {
        max-width: 538px;
        &Image {
            width: 538px;
            height: 430px;
            min-height: 430px;
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
    .wrapperCard {
        max-width: 39.1vw;
        &Image {
            max-width: 39.1vw;
            height: 31.3vw;
            min-height: 31.3vw;
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
    .wrapperCard {
        min-width: 360px;
        width: 25vw;
        max-width: 440px;
        &Image {
            min-width: 360px;
            width: 25vw;
            max-width: 440px;

            min-height: 288px;
            height: 20vw;
            max-height: 352px;
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
